#banner {
    height: 90vh;
    margin-top: 5vh;
    background: url(https://source.unsplash.com/random/?food);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#navMenu {
    padding-left: 4vw;
    padding-right: 4vw;
}

#logInForm {
    width: 60vw;
    height: 70vh;
    margin: 0 auto;
    padding-top: 15vh;
}

#loginContent {
    background: rgba(255, 255, 255, 0.9);
}

#loginTxt {
    font-size: 2em;
}

#tile {
    margin: 0 auto;
    padding: 30px;
}

#tileContent {
    width: 45vw;
    background: rgba(255, 255, 255, 0.1);
}
/* 
#mealContent {
    background: rgba(255, 255, 255, 0.9);
}

#pantryContent {
    background: rgba(255, 255, 255, 0.9);
}

#preferenceList {
    height: 41vh;
    background: rgba(255, 255, 255, 0.9);
}*/

#pantryList,
#tableBody,
.table-container {
    max-height: 59vh;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
} 

#pantryInput {
    width: 15.5vw;
    
}

#title {
    background: rgba(255, 255, 255, 0.3);
    box-shadow:  7px 7px 10px 10px white;
    text-shadow: 4px 4px 6px gray;
}

#card {
    height: 75vh;
    background: rgba(255, 255, 255, 0.9);
    
}

.modal-card {
    position:fixed; 
    top: 30vh;
    width: 70vw !important;

}



footer {
    width: 100%;
    margin: 0 auto;
    color: black;
    background-color: white;
    position: fixed;
    bottom: 0;
    font-weight: bold;
    text-align: center;
}